#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #eaebec;
  /* background-image: linear-gradient(to top, #0acffe 0%, #495aff 100%); */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 175px;
  height: 200px;
}

button {
  font-size: 1.25rem;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: none;
  color: #000;
  background-color: #646cff;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #61dafb;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
